In [2]:
pip install pandas

Collecting pandas
  Using cached pandas-1.2.0-cp37-cp37m-macosx_10_9_x86_64.whl (10.3 MB)
Requirement already satisfied: numpy>=1.16.5 in /Users/bowenduan/anaconda3/envs/Python/lib/python3.7/site-packages (from pandas) (1.19.2)
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/bowenduan/anaconda3/envs/Python/lib/python3.7/site-packages (from pandas) (2.8.1)
Collecting pytz>=2017.3
  Downloading pytz-2020.5-py2.py3-none-any.whl (510 kB)
     |████████████████████████████████| 510 kB 4.5 MB/s
Requirement already satisfied: six>=1.5 in /Users/bowenduan/anaconda3/envs/Python/lib/python3.7/site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Installing collected packages: pytz, pandas
Successfully installed pandas-1.2.0 pytz-2020.5
Note: you may need to restart the kernel to use updated packages.

In [12]:
import pandas as pd
df = pd.read_csv('data.csv')
df.head()

,Unnamed: 0,ts_code,trade_date,open,high,low,close,pre_close,change,pct_chg,vol,amount
0,0,000002.SZ,20210108,28.98,29.45,28.81,29.34,28.79,0.55,1.9104,1028563.29,3000845.603
1,1,000002.SZ,20210107,29.00,29.50,28.39,28.79,28.75,0.04,0.1391,1226755.74,3544224.002
2,2,000002.SZ,20210106,27.80,28.75,27.73,28.75,27.91,0.84,3.0097,1048801.29,2972572.549
3,3,000002.SZ,20210105,27.78,27.93,27.10,27.91,27.78,0.13,0.4680,1162658.38,3189607.202
4,4,000002.SZ,20210104,28.40,28.40,27.52,27.78,28.70,-0.92,-3.2056,1468441.33,4079416.859

In [13]:
df['Date'] = df['trade_date'].apply(lambda x: pd.to_datetime(str(x), format='%Y%m%d'))
df

,Unnamed: 0,ts_code,trade_date,open,high,low,close,pre_close,change,pct_chg,vol,amount,Date
0,0,000002.SZ,20210108,28.98,29.45,28.81,29.34,28.79,0.55,1.9104,1028563.29,3000845.603,2021-01-08
1,1,000002.SZ,20210107,29.00,29.50,28.39,28.79,28.75,0.04,0.1391,1226755.74,3544224.002,2021-01-07
2,2,000002.SZ,20210106,27.80,28.75,27.73,28.75,27.91,0.84,3.0097,1048801.29,2972572.549,2021-01-06
3,3,000002.SZ,20210105,27.78,27.93,27.10,27.91,27.78,0.13,0.4680,1162658.38,3189607.202,2021-01-05
4,4,000002.SZ,20210104,28.40,28.40,27.52,27.78,28.70,-0.92,-3.2056,1468441.33,4079416.859,2021-01-04
...,...,...,...,...,...,...,...,...,...,...,...,...,...
611,611,000002.SZ,20180706,23.34,23.60,22.65,23.21,23.05,0.16,0.6900,346930.01,805107.096,2018-07-06
612,612,000002.SZ,20180705,23.02,23.41,22.85,23.05,23.00,0.05,0.2200,267278.61,619393.007,2018-07-05
613,613,000002.SZ,20180704,23.46,23.75,23.00,23.00,23.42,-0.42,-1.7900,249881.03,582470.214,2018-07-04
614,614,000002.SZ,20180703,23.10,23.48,22.80,23.42,22.80,0.62,2.7200,549964.88,1274023.575,2018-07-03
615,615,000002.SZ,20180702,24.50,24.55,22.52,22.80,24.60,-1.80,-7.3200,846203.86,1981131.638,2018-07-02

In [19]:
df.sort_values(by = 'Date', ascending=True).to_csv('data_clear.csv')

In [15]:
df[2:].to_csv('data_clear.csv')