In [3]:
import tushare as ts
from tushare import stock
import pandas as pd
import datetime
import sys
import os

# set up token
pro = ts.pro_api('a0f192a7b75e15dd2d8c16f0a300a6e2b055f55d1589cfef6eb2fa01')

# download all stock daily data 
# save data in csv file for each stock

# downloading data up to today
today = datetime.datetime.now().strftime('%Y%m%d')

# prepare file saving path
father_dir = os.path.dirname(os.path.abspath(sys.argv[0])) 
save_path = os.path.join(father_dir, 'AstockDailyData/')

# loading all the stock listed on both shanghai and shenzhen market
stock_list = pro.stock_basic(exchange='', list_status='', fields='ts_code,symbol,name,area,industry,list_date')
# save stock list
stock_list.to_csv(f'{save_path}StockList{today}.csv')
print(f'stock list downloaded')

stock list downloaded

In [8]:
stock_data = pro.daily(ts_code='000001.SZ', start_date='20190101', end_date=today)
#file_name = f'{save_path}{stock_code}.csv'
col = ['ts_code','trade_date','open','high','low','close','vol','amount']
stock_price_data = stock_data[col].copy()
stock_price_data.sort_values(by= 'trade_date', ascending = True)

       ts_code trade_date   open   high    low  close         vol       amount
499  000001.SZ   20190102   9.39   9.42   9.16   9.19   539386.32   498695.109
498  000001.SZ   20190103   9.18   9.33   9.15   9.28   415537.95   384457.707
497  000001.SZ   20190104   9.24   9.82   9.22   9.75  1481159.06  1422149.888
496  000001.SZ   20190107   9.84   9.85   9.63   9.74   865687.66   841166.430
495  000001.SZ   20190108   9.73   9.74   9.62   9.66   402388.11   389247.795
..         ...        ...    ...    ...    ...    ...         ...          ...
4    000001.SZ   20210114  20.68  20.89  19.95  20.17  1130155.62  2306404.546
3    000001.SZ   20210115  21.00  21.95  20.82  21.00  2480688.98  5311218.074
2    000001.SZ   20210118  21.20  22.78  21.20  22.70  2157301.78  4792909.447
1    000001.SZ   20210119  22.51  22.84  22.05  22.34  1242088.34  2790056.611
0    000001.SZ   20210120  22.15  22.97  22.12  22.47  1280793.16  2889249.850

[500 rows x 8 columns]

In [ ]:
# loading stock data 
print(f'starting to dowmload daily data up to {today}')
i = 0

col = ['ts_code','trade_date','open','high','low','close','vol','amount']

for stock_code in stock_list['ts_code']:
    try: 
        stock_data = pro.daily(ts_code=stock_code, start_date='20190101', end_date=today)
        file_name = f'{save_path}{stock_code}.csv'
        stock_price_data = stock_data[col].copy()
        stock_price_data.sort_values(by= 'trade_date', acending = True).to_csv(file_name, index=False)
        i = i + 1
        
    except:
         print(f'{stock_code} downlaoding data failed')
        
print(f'downloading complete, {i} stocks dowlanded')

In [7]:
!pip install mysql-connector

Requirement already satisfied: mysql-connector in /Users/bowenduan/anaconda3/lib/python3.7/site-packages (2.2.9)

In [13]:
import mysql.connector as mysql

db = mysql.connect(host = 'localhost', user = 'root', passwd = '201202@')
cursor = db.cursor()
cursor.execute("DROP DATABASE IF EXISTS test; CREATE DATABASE test")

In [9]:
print(mysql.connect.__path__)

AttributeError: 'function' object has no attribute '__path__'

In [15]:
import pandas as pd
import tushare as ts
import datetime

today = datetime.datetime.now().strftime('%Y%m%d')
pro = ts.pro_api('a0f192a7b75e15dd2d8c16f0a300a6e2b055f55d1589cfef6eb2fa01')
stock_list = pro.stock_basic(exchange='', list_status='',\
    fields='ts_code,symbol,name,area,industry,fullname,enname,market,exchange,curr_type,list_status,list_date,delist_date,is_hs')
stock_list.head()

,ts_code,symbol,name,area,industry,fullname,enname,market,exchange,curr_type,list_status,list_date,delist_date,is_hs
0,000001.SZ,000001,平安银行,深圳,银行,平安银行股份有限公司,"Ping An Bank Co., Ltd.",主板,SZSE,CNY,L,19910403,None,S
1,000002.SZ,000002,万科A,深圳,全国地产,万科企业股份有限公司,"China Vanke Co.,Ltd.",主板,SZSE,CNY,L,19910129,None,S
2,000004.SZ,000004,国华网安,深圳,互联网,深圳国华网安科技股份有限公司,Shenzhen GuoHua Network Security Technology Co...,主板,SZSE,CNY,L,19910114,None,N
3,000005.SZ,000005,世纪星源,深圳,环境保护,深圳世纪星源股份有限公司,Shenzhen Fountain Corporation,主板,SZSE,CNY,L,19901210,None,N
4,000006.SZ,000006,深振业A,深圳,区域地产,深圳市振业(集团)股份有限公司,"Shenzhen Zhenye(Group) Co.,Ltd.",主板,SZSE,CNY,L,19920427,None,S

In [1]:
import mysql.connector as mysql
from mysql.connector import charsets
from mysql.connector.errors import Error
import pandas as pd
import tushare as ts
import datetime

try:
    conn = mysql.connect(host = 'localhost', user = 'root', passwd = '201202@')
    if conn.is_connected():
        mycursor = conn.cursor(buffered=True)
        mycursor.execute('USE AStockMarket')
        print('Database AStockMarket is connected!')
        
        # get stock code from database
        # mycursor.execute('select ts_code from StockList')
        stock_list = ('000001.SZ','000002.SZ')
        sql = "INSERT INTO Daily VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)"
        

        # downloading each stock data from 20080101 to 2020121 from Tusahre
    for stock_code in stock_list:
        df = pro.daily(ts_code=stock_code, start_date='20080101', end_date='20200121')
        print(df)

SyntaxError: unexpected EOF while parsing (<ipython-input-1-32e213667a6d>, line 23)

In [16]:
import tushare as ts
import mysql.connector as mysql
from mysql.connector import charsets
from mysql.connector.errors import Error
import pandas as pd
import tushare as ts
import datetime

stock_list = ('000001.SZ','000002.SZ')

conn = mysql.connect(host = 'localhost', user = 'root', passwd = '201202@')
mycursor = conn.cursor(buffered=True)
mycursor.execute('USE AStockMarket')
print('Database AStockMarket is connected!')

sql = "INSERT INTO Daily VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)"

for stock_code in stock_list:
    pro = ts.pro_api('a0f192a7b75e15dd2d8c16f0a300a6e2b055f55d1589cfef6eb2fa01')
    df = pro.daily(ts_code=stock_code, start_date='20080101', end_date='20200121')
    print(f'downloading {stock_code} data from 20080101 to 2020121 from Tusahre')

    value = df.values.tolist()
    mycursor.executemany(sql, value)
    print(f"{stock_code} Record inserted")

    conn.commit()
    print(f'{stock_code} uploads to MySql  successfully, total {len(df)} records are inserted \n')

Database AStockMarket is connected!
downloading 000001.SZ data from 20080101 to 2020121 from Tusahre
000001.SZ Record inserted
000001.SZ uploads to MySql  successfully, total 2851 records are inserted

downloading 000002.SZ data from 20080101 to 2020121 from Tusahre
000002.SZ Record inserted
000002.SZ uploads to MySql  successfully, total 2776 records are inserted

In [90]:
import datetime

fromdate=datetime.datetime(2019, 7, 7)
todate=datetime.datetime(2021,1,1)
ticker = '000001.SZ'
print(str(ticker))

conn = mysql.connect(host = 'localhost', user = 'root', passwd = '201202@')
if conn.is_connected():
    mycursor = conn.cursor(buffered=True)
    mycursor.execute('USE AStockMarket')
    print('Database AStockMarket is connected!')

    mycursor.execute(f"SELECT trade_date,open,high,low,close,vol FROM Daily WHERE ts_code = '{ticker}' AND trade_date between {datetime.datetime.strftime(fromdate,'%Y%m%d')} and {datetime.datetime.strftime(todate,'%Y%m%d')} ORDER BY trade_date ASC")

    results = mycursor.fetchall()

for i in results:
    print(i)
    #for i in results:
        #print(i)
    # get stock code from database
    # mycursor.execute('select ts_code from StockList')
    # query_result = mycursor.fetchall()
    # for i in range(len(query_result)):
    #     stock_code = [iterm for iterm in query_result[i]][0]
    #     print(stock_code)
    
    # for i in range(len(query_result)):
    #     output1 = [iterm for iterm in query_result[i]]
    #     print(output1)
    
    # output1 = ""
    # for row in query_result:
    #     output1 += '\'' + str(row[0]) + '\'' + ','
    #     #output2 += ' ' + str(row[0][0]) + ' ' + ','

        # To delete last char: ','
        #output1 = output1[:-1]
        #output2 = output2[:-1]

        #print(rows)          # (('1',), ('2',), ('3',), ('4',), ('5',))
        #print(output1)       # '1','2','3','4','5'
        #print(output2)       #  1 , 2 , 3 , 4 , 5 
    # sql = "INSERT INTO Daily VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)"

    # for stock_code in stock_list:
    #     pro = ts.pro_api('a0f192a7b75e15dd2d8c16f0a300a6e2b055f55d1589cfef6eb2fa01')
    #     df = pro.daily(ts_code=stock_code, start_date='20080101', end_date=today)
    #     print(f'downloaded {stock_code} data from 20080101 to {today} from Tusahre')

    #     value = df.values.tolist()
    #     mycursor.executemany(sql, value)
    #     print(f'{stock_code} Record inserted')

    #     conn.commit()
    #     print(f'{stock_code} uploads to MySql  successfully, total {len(df)} records are inserted \n')

720.0), ('20201202', 19.93, 20.06, 19.52, 19.63, 889385.0), ('20201203', 19.78, 19.86, 19.17, 19.54, 714452.0), ('20201204', 19.47, 19.47, 18.97, 19.3, 891348.0), ('20201207', 19.31, 19.39, 18.68, 18.91, 873807.0), ('20201208', 18.92, 19.03, 18.53, 18.71, 719648.0), ('20201209', 18.79, 19.05, 18.68, 18.71, 677221.0), ('20201210', 18.73, 18.88, 18.45, 18.65, 607867.0), ('20201211', 18.71, 18.8, 18.22, 18.52, 887794.0), ('20201214', 18.6, 19.06, 18.5, 18.88, 835992.0), ('20201215', 18.8, 18.85, 18.15, 18.74, 788858.0), ('20201216', 18.8, 19.1, 18.58, 19.01, 689070.0), ('20201217', 18.91, 19.07, 18.6, 18.95, 686141.0), ('20201218', 19.0, 19.1, 18.23, 18.36, 1058760.0), ('20201221', 18.3, 18.64, 18.03, 18.28, 906878.0), ('20201222', 18.36, 18.65, 17.88, 17.9, 1028740.0), ('20201223', 17.96, 18.07, 17.79, 18.0, 750083.0), ('20201224', 18.15, 18.49, 18.05, 18.26, 632950.0), ('20201225', 18.26, 18.26, 17.8, 18.04, 577077.0), ('20201228', 18.02, 18.86, 17.96, 18.85, 1270340.0), ('20201229', 18.87, 19.3, 18.7, 19.17, 963092.0), ('20201230', 19.0, 19.2, 18.72, 19.2, 978498.0), ('20201231', 19.21, 19.58, 19.02, 19.34, 924503.0)]
[('20190708', 13.82, 13.88, 13.45, 13.59, 778414.0), ('20190709', 13.63, 13.71, 13.44, 13.59, 494296.0), ('20190710', 13.61, 13.7, 13.49, 13.56, 358221.0), ('20190711', 13.68, 13.78, 13.53, 13.54, 484183.0), ('20190712', 13.6, 14.23, 13.58, 14.12, 1465370.0), ('20190715', 14.03, 14.12, 13.84, 14.0, 841283.0), ('20190716', 13.97, 13.99, 13.71, 13.75, 722781.0), ('20190717', 13.7, 13.81, 13.61, 13.69, 410021.0), ('20190718', 13.65, 13.81, 13.56, 13.67, 422826.0), ('20190719', 13.74, 14.08, 13.68, 13.99, 866391.0), ('20190722', 13.96, 14.02, 13.76, 13.85, 582283.0), ('20190723', 13.86, 13.87, 13.65, 13.76, 504004.0), ('20190724', 13.87, 14.01, 13.79, 13.88, 570276.0), ('20190725', 13.92, 14.27, 13.85, 14.2, 1087830.0), ('20190726', 14.18, 14.25, 14.08, 14.23, 635306.0), ('20190729', 14.25, 14.45, 14.18, 14.29, 715576.0), ('20190730', 14.31, 14.55, 14.29, 14.37, 796634.0), ('20190731', 14.3, 14.32, 14.08, 14.13, 634724.0), ('20190801', 14.06, 14.19, 13.94, 14.1, 527981.0), ('20190802', 13.77, 13.88, 13.66, 13.74, 969926.0), ('20190805', 13.6, 13.64, 13.27, 13.35, 893082.0), ('20190806', 13.1, 13.46, 13.03, 13.37, 882499.0), ('20190807', 13.49, 13.64, 13.37, 13.54, 793039.0), ('20190808', 13.9, 14.5, 13.85, 14.38, 2330720.0), ('20190809', 14.55, 14.85, 14.43, 14.52, 2060580.0), ('20190812', 14.61, 15.12, 14.6, 15.12, 2733430.0), ('20190813', 15.0, 15.08, 14.74, 14.89, 1293740.0), ('20190814', 15.14, 15.22, 14.8, 14.97, 1360550.0), ('20190815', 14.64, 14.96, 14.6, 14.94, 897376.0), ('20190816', 15.09, 15.14, 14.78, 14.9, 986903.0), ('20190819', 14.91, 14.94, 14.52, 14.92, 2292960.0), ('20190820', 14.92, 15.2, 14.77, 14.99, 1921040.0), ('20190821', 14.87, 14.89, 14.38, 14.45, 1990130.0), ('20190822', 14.4, 14.45, 14.2, 14.31, 1353070.0), ('20190823', 14.37, 14.74, 14.35, 14.65, 1636870.0), ('20190826', 14.42, 14.5, 14.15, 14.25, 1415120.0), ('20190827', 14.36, 14.48, 14.24, 14.31, 1356710.0), ('20190828', 14.26, 14.28, 14.05, 14.27, 829658.0), ('20190829', 14.22, 14.24, 14.08, 14.13, 609034.0), ('20190830', 14.29, 14.39, 14.1, 14.16, 798501.0), ('20190902', 14.15, 14.5, 14.11, 14.45, 1360200.0), ('20190903', 14.48, 14.51, 14.25, 14.3, 858654.0), ('20190904', 14.32, 14.5, 14.31, 14.44, 973965.0), ('20190905', 14.56, 14.85, 14.55, 14.58, 1768050.0), ('20190906', 14.71, 14.81, 14.62, 14.81, 986433.0), ('20190909', 14.98, 15.0, 14.6, 14.69, 1299840.0), ('20190910', 14.6, 14.64, 14.41, 14.55, 796871.0), ('20190911', 14.6, 14.71, 14.46, 14.56, 818614.0), ('20190912', 14.66, 14.78, 14.53, 14.68, 1150690.0), ('20190916', 14.7, 14.72, 14.4, 14.45, 929894.0), ('20190917', 14.36, 14.45, 14.18, 14.24, 882656.0), ('20190918', 14.24, 14.48, 14.24, 14.41, 820436.0), ('20190919', 14.48, 14.89, 14.48, 14.84, 1884020.0), ('20190920', 14.95, 15.4, 14.93, 15.34, 2644290.0), ('20190923', 15.34, 15.47, 15.18, 15.38, 1403280.0), ('20190924', 15.47, 15.54, 15.18, 15.18, 1129100.0), ('20190925', 15.2, 15.85, 15.19, 15.75, 1938890.0), ('20190926', 15.86, 16.04, 15.66, 15.71, 1686590.0), ('20190927', 15.85, 16.0, 15.7, 15.9, 1007710.0), ('20190930', 15.75, 15.89, 15.57, 15.59, 1046360.0), ('20191008', 15.6, 16.23, 15.6, 16.2, 1386680.0), ('20191009', 16.1, 16.52, 16.02, 16.25, 1316690.0), ('20191010', 16.27, 16.27, 15.99, 16.24, 879747.0), ('20191011', 16.2, 16.95, 16.2, 16.81, 1405420.0), ('20191014', 16.97, 17.6, 16.92, 17.22, 1557640.0), ('20191015', 17.25, 17.35, 16.82, 17.18, 881955.0), ('20191016', 17.26, 17.44, 16.63, 16.79, 1267670.0), ('20191017', 16.9, 17.0, 16.55, 16.7, 1126180.0), ('20191018', 16.8, 17.04, 16.43, 16.51, 1196800.0), ('20191021', 16.43, 16.97, 16.43, 16.89, 945952.0), ('20191022', 16.91, 16.93, 16.03, 16.42, 1883530.0), ('20191023', 16.32, 16.67, 16.23, 16.45, 967535.0), ('20191024', 16.5, 17.0, 16.44, 16.87, 1109210.0), ('20191025', 16.78, 16.96, 16.58, 16.88, 691436.0), ('20191028', 16.98, 17.04, 16.48, 16.66, 1070130.0), ('20191029', 16.69, 16.93, 16.56, 16.91, 788865.0), ('20191030', 16.8, 16.96, 16.42, 16.43, 854317.0), ('20191031', 16.42, 16.47, 16.24, 16.26, 862569.0), ('20191101', 16.35, 17.0, 16.28, 16.86, 1254660.0), ('20191104', 16.98, 17.25, 16.77, 16.92, 889824.0), ('20191105', 16.8, 17.44, 16.79, 17.15, 1172490.0), ('20191106', 17.06, 17.26, 16.88, 16.96, 863325.0), ('20191107', 16.93, 17.07, 16.75, 16.89, 711897.0), ('20191108', 16.98, 17.02, 16.64, 16.65, 849139.0), ('20191111', 16.5, 16.53, 16.2, 16.28, 953516.0), ('20191112', 16.29, 16.37, 16.16, 16.33, 516266.0), ('20191113', 16.29, 16.46, 16.06, 16.33, 655121.0), ('20191114', 16.43, 16.48, 16.25, 16.32, 468900.0), ('20191115', 16.39, 16.55, 16.24, 16.34, 569228.0), ('20191118', 16.35, 16.55, 16.23, 16.45, 557918.0), ('20191119', 16.45, 16.48, 16.31, 16.41, 562120.0), ('20191120', 16.3, 16.3, 15.77, 15.85, 1724380.0), ('20191121', 15.75, 15.87, 15.63, 15.86, 772563.0), ('20191122', 15.89, 15.92, 15.55, 15.59, 773474.0), ('20191125', 15.64, 15.84, 15.54, 15.8, 783258.0), ('20191126', 15.89, 15.89, 15.49, 15.62, 815298.0), ('20191127', 15.64, 15.64, 15.39, 15.47, 476170.0), ('20191128', 15.47, 15.54, 15.44, 15.49, 378016.0), ('20191129', 15.54, 15.55, 15.18, 15.29, 653867.0), ('20191202', 15.35, 15.43, 15.23, 15.36, 553877.0), ('20191203', 15.3, 15.46, 15.21, 15.45, 455418.0), ('20191204', 15.34, 15.41, 15.21, 15.31, 524545.0), ('20191205', 15.35, 15.48, 15.3, 15.43, 557084.0), ('20191206', 15.47, 15.72, 15.46, 15.6, 712615.0), ('20191209', 15.62, 15.62, 15.35, 15.41, 605993.0), ('20191210', 15.36, 15.38, 15.25, 15.33, 556384.0), ('20191211', 15.38, 15.68, 15.3, 15.66, 871505.0), ('20191212', 15.66, 15.67, 15.53, 15.6, 478999.0), ('20191213', 15.85, 16.12, 15.77, 16.12, 1053100.0), ('20191216', 16.12, 16.14, 15.87, 16.13, 787952.0), ('20191217', 16.0, 16.63, 15.98, 16.5, 1203100.0), ('20191218', 16.43, 16.66, 16.41, 16.46, 797091.0), ('20191219', 16.55, 16.74, 16.44, 16.55, 675537.0), ('20191220', 16.55, 16.68, 16.44, 16.59, 644478.0), ('20191223', 16.68, 16.68, 16.17, 16.24, 715793.0), ('20191224', 16.23, 16.5, 16.23, 16.4, 459128.0), ('20191225', 16.45, 16.56, 16.24, 16.3, 414918.0), ('20191226', 16.34, 16.48, 16.32, 16.47, 372034.0), ('20191227', 16.53, 16.93, 16.43, 16.63, 1042570.0), ('20191230', 16.46, 16.63, 16.1, 16.57, 976970.0), ('20191231', 16.57, 16.63, 16.31, 16.45, 704442.0), ('20200102', 16.65, 16.95, 16.55, 16.87, 1530230.0), ('20200103', 16.94, 17.31, 16.92, 17.18, 1116190.0), ('20200106', 17.01, 17.34, 16.91, 17.07, 862084.0), ('20200107', 17.13, 17.28, 16.95, 17.15, 728608.0), ('20200108', 17.0, 17.05, 16.63, 16.66, 847824.0), ('20200109', 16.81, 16.93, 16.53, 16.79, 1031640.0), ('20200110', 16.79, 16.81, 16.52, 16.69, 585548.0), ('20200113', 16.75, 17.03, 16.61, 16.99, 872133.0), ('20200114', 16.99, 17.27, 16.76, 16.76, 1304490.0), ('20200115', 16.79, 16.86, 16.45, 16.52, 859439.0), ('20200116', 16.52, 16.57, 16.2, 16.33, 1028100.0), ('20200117', 16.38, 16.55, 16.35, 16.39, 605437.0), ('20200120', 16.43, 16.61, 16.35, 16.45, 746075.0), ('20200121', 16.34, 16.34, 15.93, 16.0, 896603.0), ('20200122', 15.92, 16.16, 15.71, 16.09, 719465.0), ('20200123', 15.92, 15.92, 15.39, 15.54, 1100590.0), ('20200203', 13.99, 14.7, 13.99, 13.99, 2259190.0), ('20200204', 14.05, 14.66, 14.02, 14.6, 1706170.0), ('20200205', 14.59, 14.89, 14.32, 14.63, 1491380.0), ('20200206', 14.81, 14.87, 14.51, 14.77, 1185820.0), ('20200207', 14.6, 14.69, 14.41, 14.62, 924853.0), ('20200210', 14.51, 14.53, 14.3, 14.5, 1339500.0), ('20200211', 14.6, 14.94, 14.56, 14.79, 1407510.0), ('20200212', 14.79, 14.82, 14.6, 14.77, 1070500.0), ('20200213', 14.71, 14.88, 14.61, 14.65, 1013210.0), ('20200214', 14.75, 15.14, 14.7, 15.03, 1512430.0), ('20200217', 15.04, 15.37, 14.93, 15.37, 1543700.0), ('20200218', 15.33, 15.33, 15.01, 15.2, 973612.0), ('20200219', 15.1, 15.37, 15.08, 15.24, 874107.0), ('20200220', 15.27, 15.62, 15.1, 15.59, 1235440.0), ('20200221', 15.49, 15.72, 15.45, 15.58, 995071.0), ('20200224', 15.46, 15.46, 15.15, 15.23, 1191790.0), ('20200225', 15.0, 15.13, 14.78, 15.04, 1144580.0), ('20200226', 14.77, 15.27, 14.7, 14.99, 1176600.0), ('20200227', 14.96, 15.15, 14.89, 15.11, 975271.0), ('20200228', 14.85, 15.04, 14.46, 14.5, 1300640.0), ('20200302', 14.55, 14.95, 14.46, 14.79, 1116580.0), ('20200303', 14.96, 14.99, 14.63, 14.72, 1153580.0), ('20200304', 14.68, 14.78, 14.51, 14.69, 862595.0), ('20200305', 14.8, 15.64, 14.73, 15.39, 2686600.0), ('20200306', 15.18, 15.27, 15.02, 15.03, 1228530.0), ('20200309', 14.71, 14.73, 14.42, 14.45, 1665790.0), ('20200310', 14.38, 14.85, 14.38, 14.76, 1167860.0), ('20200311', 14.77, 14.88, 14.62, 14.69, 814382.0), ('20200312', 14.65, 14.84, 14.53, 14.68, 986497.0), ('20200313', 13.9, 14.58, 13.9, 14.52, 1169770.0), ('20200316', 14.45, 14.46, 13.75, 13.75, 1406200.0), ('20200317', 13.75, 13.97, 13.13, 13.41, 1177850.0), ('20200318', 13.41, 13.55, 12.65, 12.71, 1384780.0), ('20200319', 12.68, 12.74, 11.91, 12.23, 1891460.0), ('20200320', 12.4, 12.68, 12.26, 12.52, 1578350.0), ('20200323', 12.0, 12.35, 11.93, 12.15, 1071110.0), ('20200324', 12.4, 12.68, 12.27, 12.61, 1180200.0), ('20200325', 12.88, 13.07, 12.7, 12.87, 1136960.0), ('20200326', 12.78, 13.34, 12.72, 13.06, 1075190.0), ('20200327', 13.25, 13.38, 13.08, 13.15, 653019.0), ('20200330', 12.85, 13.04, 12.76, 12.94, 661739.0), ('20200331', 13.05, 13.09, 12.78, 12.8, 513370.0), ('20200401', 12.86, 13.13, 12.82, 12.89, 520836.0), ('20200402', 12.75, 12.97, 12.66, 12.97, 518365.0), ('20200403', 12.82, 12.89, 12.55, 12.61, 825348.0), ('20200407', 12.89, 12.94, 12.81, 12.88, 870314.0), ('20200408', 12.88, 12.92, 12.72, 12.78, 528716.0), ('20200409', 12.88, 12.89, 12.72, 12.74, 408554.0), ('20200410', 12.76, 12.98, 12.65, 12.79, 666675.0), ('20200413', 12.67, 12.71, 12.47, 12.59, 446214.0), ('20200414', 12.65, 12.86, 12.57, 12.86, 686087.0), ('20200415', 12.86, 12.93, 12.78, 12.87, 656396.0), ('20200416', 12.79, 12.79, 12.54, 12.68, 789155.0), ('20200417', 12.77, 13.04, 12.65, 12.89, 1331160.0), ('20200420', 12.86, 13.05, 12.77, 12.99, 818456.0), ('20200421', 13.3, 13.7, 13.3, 13.45, 2122450.0), ('20200422', 13.37, 13.42, 13.16, 13.23, 1032800.0), ('20200423', 13.23, 13.31, 13.11, 13.23, 646990.0), ('20200424', 13.17, 13.28, 13.11, 13.24, 566002.0), ('20200427', 13.3, 13.64, 13.25, 13.5, 936830.0), ('20200428', 13.45, 13.56, 13.27, 13.52, 771564.0), ('20200429', 13.48, 14.1, 13.45, 14.02, 1108720.0), ('20200430', 14.02, 14.32, 13.88, 13.93, 819540.0), ('20200506', 13.76, 13.89, 13.61, 13.77, 1009000.0), ('20200507', 13.76, 13.76, 13.6, 13.69, 662749.0), ('20200508', 13.76, 14.02, 13.68, 13.95, 934782.0), ('20200511', 13.92, 14.13, 13.9, 14.0, 612862.0), ('20200512', 13.95, 14.05, 13.72, 13.79, 558511.0), ('20200513', 13.75, 13.78, 13.53, 13.63, 640359.0), ('20200514', 13.55, 13.59, 13.22, 13.3, 944672.0), ('20200515', 13.39, 13.43, 13.14, 13.23, 756794.0), ('20200518', 13.2, 13.34, 13.12, 13.2, 637209.0), ('20200519', 13.41, 13.45, 13.27, 13.36, 600369.0), ('20200520', 13.38, 13.62, 13.27, 13.51, 690851.0), ('20200521', 13.52, 13.57, 13.36, 13.4, 552312.0), ('20200522', 13.33, 13.34, 12.92, 12.92, 856237.0), ('20200525', 12.97, 12.98, 12.76, 12.96, 410171.0), ('20200526', 13.02, 13.07, 12.94, 13.04, 396212.0), ('20200527', 13.05, 13.19, 12.96, 13.0, 482963.0), ('20200528', 12.87, 13.18, 12.81, 13.07, 960760.0), ('20200529', 13.01, 13.04, 12.92, 13.0, 457808.0), ('20200601', 13.1, 13.39, 13.08, 13.32, 882961.0), ('20200602', 13.29, 13.63, 13.28, 13.55, 883459.0), ('20200603', 13.64, 13.88, 13.5, 13.54, 956803.0), ('20200604', 13.53, 13.64, 13.41, 13.57, 583066.0), ('20200605', 13.6, 13.62, 13.43, 13.59, 383027.0), ('20200608', 13.68, 13.85, 13.58, 13.62, 585972.0), ('20200609', 13.64, 13.73, 13.53, 13.67, 474300.0), ('20200610', 13.71, 13.71, 13.4, 13.49, 580476.0), ('20200611', 13.38, 13.39, 13.0, 13.08, 1349040.0), ('20200612', 12.9, 13.02, 12.87, 12.99, 1030550.0), ('20200615', 12.85, 12.97, 12.8, 12.82, 660313.0), ('20200616', 12.9, 12.99, 12.86, 12.89, 718059.0), ('20200617', 12.89, 12.92, 12.76, 12.85, 716468.0), ('20200618', 12.76, 12.8, 12.59, 12.76, 1119650.0), ('20200619', 12.73, 12.84, 12.61, 12.8, 1539520.0), ('20200622', 12.74, 12.76, 12.62, 12.64, 1319080.0), ('20200623', 12.65, 12.69, 12.52, 12.6, 990807.0), ('20200624', 12.64, 12.88, 12.6, 12.8, 1523220.0), ('20200629', 12.92, 12.97, 12.71, 12.8, 1038480.0), ('20200630', 12.83, 12.88, 12.72, 12.8, 937940.0), ('20200701', 12.79, 13.15, 12.74, 13.12, 1697390.0), ('20200702', 13.08, 13.49, 12.97, 13.43, 2590500.0), ('20200703', 13.57, 14.32, 13.56, 14.25, 3768330.0), ('20200706', 14.6, 15.68, 14.59, 15.68, 4711460.0), ('20200707', 16.3, 16.63, 15.03, 15.48, 3964430.0), ('20200708', 15.23, 16.0, 15.23, 15.76, 2631340.0), ('20200709', 15.66, 15.66, 15.31, 15.53, 2243990.0), ('20200710', 15.35, 15.48, 14.76, 14.86, 2158770.0), ('20200713', 14.7, 15.08, 14.5, 14.89, 1937160.0), ('20200714', 14.9, 15.19, 14.55, 14.68, 1953570.0), ('20200715', 14.78, 14.86, 14.23, 14.27, 2042560.0), ('20200716', 14.3, 14.55, 14.12, 14.15, 1930890.0), ('20200717', 14.17, 14.28, 13.95, 14.14, 1291350.0), ('20200720', 14.23, 14.77, 14.1, 14.73, 1979630.0), ('20200721', 14.68, 14.68, 14.4, 14.49, 1252870.0), ('20200722', 14.49, 14.65, 14.27, 14.41, 1312950.0), ('20200723', 14.24, 14.29, 13.81, 14.01, 2027530.0), ('20200724', 13.97, 13.99, 13.42, 13.5, 1830880.0), ('20200727', 13.67, 13.68, 13.1, 13.24, 1880650.0), ('20200728', 13.34, 13.43, 13.18, 13.34, 1217010.0), ('20200729', 13.35, 13.63, 13.21, 13.54, 1519580.0), ('20200730', 13.5, 13.51, 13.37, 13.37, 964068.0), ('20200731', 13.28, 13.53, 13.25, 13.34, 1165820.0), ('20200803', 13.47, 13.62, 13.43, 13.59, 1445100.0), ('20200804', 13.66, 14.15, 13.48, 14.04, 2445660.0), ('20200805', 13.82, 13.85, 13.62, 13.76, 1440200.0), ('20200806', 13.82, 13.96, 13.65, 13.9, 1352510.0), ('20200807', 13.8, 13.9, 13.62, 13.7, 988678.0), ('20200810', 13.67, 14.02, 13.62, 13.95, 1587710.0), ('20200811', 13.97, 14.66, 13.97, 14.13, 2603310.0), ('20200812', 14.21, 14.5, 14.15, 14.38, 1596810.0), ('20200813', 14.4, 14.46, 14.14, 14.18, 837262.0), ('20200814', 14.1, 14.51, 14.06, 14.47, 1103220.0), ('20200817', 14.6, 15.35, 14.55, 15.19, 3268030.0), ('20200818', 15.2, 15.3, 14.91, 15.15, 1350260.0), ('20200819', 15.11, 15.35, 14.96, 15.1, 1420930.0), ('20200820', 15.01, 15.14, 14.53, 14.59, 1333800.0), ('20200821', 14.71, 14.71, 14.32, 14.45, 1234520.0), ('20200824', 14.5, 14.71, 14.41, 14.46, 919449.0), ('20200825', 14.56, 14.69, 14.46, 14.6, 748320.0), ('20200826', 14.6, 14.61, 14.28, 14.37, 734118.0), ('20200827', 14.4, 14.46, 14.11, 14.46, 626667.0), ('20200828', 14.26, 15.18, 14.26, 15.13, 2410400.0), ('20200831', 15.3, 15.68, 14.99, 15.08, 1797130.0), ('20200901', 14.96, 15.23, 14.88, 15.14, 813643.0), ('20200902', 15.01, 15.53, 15.01, 15.32, 1679380.0), ('20200903', 15.32, 15.33, 14.84, 14.9, 1279840.0), ('20200904', 14.73, 15.06, 14.6, 14.96, 909890.0), ('20200907', 14.88, 15.24, 14.83, 14.94, 1031380.0), ('20200908', 15.0, 15.43, 15.0, 15.43, 1407600.0), ('20200909', 15.26, 15.56, 15.13, 15.21, 1013570.0), ('20200910', 15.32, 15.48, 15.2, 15.34, 957092.0), ('20200911', 15.18, 15.3, 14.82, 15.01, 954236.0), ('20200914', 15.01, 15.3, 14.92, 15.3, 680251.0), ('20200915', 15.2, 15.48, 15.15, 15.35, 657133.0), ('20200916', 15.32, 15.54, 15.21, 15.44, 722415.0), ('20200917', 15.54, 15.72, 15.4, 15.57, 988216.0), ('20200918', 15.62, 16.09, 15.52, 16.07, 1373190.0), ('20200921', 16.0, 16.05, 15.71, 15.86, 896162.0), ('20200922', 15.67, 15.84, 15.39, 15.57, 867756.0), ('20200923', 15.59, 15.83, 15.51, 15.63, 599200.0), ('20200924', 15.59, 15.61, 15.12, 15.12, 1061010.0), ('20200925', 15.2, 15.31, 15.11, 15.19, 614087.0), ('20200928', 15.19, 15.37, 14.98, 15.31, 612711.0), ('20200929', 15.39, 15.41, 14.76, 14.8, 1182370.0), ('20200930', 14.8, 15.27, 14.8, 15.17, 1217060.0), ('20201009', 15.3, 15.55, 15.13, 15.18, 900426.0), ('20201012', 15.22, 16.05, 15.21, 15.9, 1591350.0), ('20201013', 15.9, 16.11, 15.77, 16.06, 908820.0), ('20201014', 16.04, 16.12, 15.8, 16.03, 662562.0), ('20201015', 16.2, 16.92, 16.15, 16.56, 1600060.0), ('20201016', 16.56, 17.37, 16.54, 17.1, 2095610.0), ('20201019', 17.3, 18.1, 17.3, 17.48, 2016110.0), ('20201020', 17.48, 17.6, 17.25, 17.54, 960072.0), ('20201021', 17.64, 18.0, 17.33, 17.91, 1244560.0), ('20201022', 17.94, 18.5, 17.3, 17.56, 1890520.0), ('20201023', 17.53, 18.78, 17.53, 18.13, 1698500.0), ('20201026', 18.2, 18.29, 17.45, 17.7, 1175600.0), ('20201027', 18.0, 18.0, 17.5, 17.76, 1034870.0), ('20201028', 17.76, 17.9, 17.29, 17.63, 1205820.0), ('20201029', 17.54, 17.93, 17.35, 17.77, 846604.0), ('20201030', 17.74, 18.36, 17.6, 17.75, 1007800.0), ('20201102', 17.65, 18.05, 17.33, 17.63, 968453.0), ('20201103', 17.71, 18.34, 17.7, 17.96, 957869.0), ('20201104', 18.35, 18.48, 17.96, 18.32, 1247640.0), ('20201105', 18.37, 18.5, 17.54, 17.7, 1429470.0), ('20201106', 17.71, 17.75, 17.22, 17.64, 848782.0), ('20201109', 17.67, 18.0, 17.54, 17.84, 951424.0), ('20201110', 18.0, 18.5, 17.93, 18.11, 1021060.0), ('20201111', 18.2, 18.3, 17.6, 17.81, 940130.0), ('20201112', 17.81, 17.94, 17.45, 17.66, 677258.0), ('20201113', 17.42, 17.47, 16.69, 17.18, 1289190.0), ('20201116', 17.08, 17.43, 16.9, 17.37, 759857.0), ('20201117', 17.38, 17.93, 17.25, 17.83, 852930.0), ('20201118', 17.78, 18.5, 17.75, 18.46, 1373400.0), ('20201119', 18.59, 18.98, 18.3, 18.85, 1211740.0), ('20201120', 18.83, 18.99, 18.52, 18.86, 673919.0), ('20201123', 18.85, 19.62, 18.8, 19.62, 1165860.0), ('20201124', 19.62, 19.68, 19.17, 19.36, 678543.0), ('20201125', 19.48, 19.7, 19.05, 19.06, 552585.0), ('20201126', 19.05, 19.61, 19.03, 19.5, 639658.0), ('20201127', 20.0, 20.0, 19.38, 19.7, 753774.0), ('20201130', 19.9, 20.88, 19.59, 19.74, 1581440.0), ('20201201', 19.7, 20.51, 19.4, 20.05, 1263720.0), ('20201202', 19.93, 20.06, 19.52, 19.63, 889385.0), ('20201203', 19.78, 19.86, 19.17, 19.54, 714452.0), ('20201204', 19.47, 19.47, 18.97, 19.3, 891348.0), ('20201207', 19.31, 19.39, 18.68, 18.91, 873807.0), ('20201208', 18.92, 19.03, 18.53, 18.71, 719648.0), ('20201209', 18.79, 19.05, 18.68, 18.71, 677221.0), ('20201210', 18.73, 18.88, 18.45, 18.65, 607867.0), ('20201211', 18.71, 18.8, 18.22, 18.52, 887794.0), ('20201214', 18.6, 19.06, 18.5, 18.88, 835992.0), ('20201215', 18.8, 18.85, 18.15, 18.74, 788858.0), ('20201216', 18.8, 19.1, 18.58, 19.01, 689070.0), ('20201217', 18.91, 19.07, 18.6, 18.95, 686141.0), ('20201218', 19.0, 19.1, 18.23, 18.36, 1058760.0), ('20201221', 18.3, 18.64, 18.03, 18.28, 906878.0), ('20201222', 18.36, 18.65, 17.88, 17.9, 1028740.0), ('20201223', 17.96, 18.07, 17.79, 18.0, 750083.0), ('20201224', 18.15, 18.49, 18.05, 18.26, 632950.0), ('20201225', 18.26, 18.26, 17.8, 18.04, 577077.0), ('20201228', 18.02, 18.86, 17.96, 18.85, 1270340.0), ('20201229', 18.87, 19.3, 18.7, 19.17, 963092.0), ('20201230', 19.0, 19.2, 18.72, 19.2, 978498.0), ('20201231', 19.21, 19.58, 19.02, 19.34, 924503.0)]

In [22]:
import mysql.connector as mysql
from mysql.connector.errors import Error
import tushare as ts
import datetime


# Insert stock list into StockList Table 
#* load data from stocklist csv
today = datetime.datetime.now().strftime('%Y%m%d')
pro = ts.pro_api('a0f192a7b75e15dd2d8c16f0a300a6e2b055f55d1589cfef6eb2fa01')
sql = "INSERT INTO Daily VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)"



conn = mysql.connect(host = 'localhost', user = 'root', passwd = '201202@', database = 'AStockMarket')
if conn.is_connected():
    print('Database AStockMarket is connected!')
    mycursor = conn.cursor(buffered=True)
    # get stock code from database
    
    #check the date when database is updated
    mycursor.execute(f'SELECT trade_date FROM Daily ORDER BY trade_date DESC LIMIT 1')
    results = mycursor.fetchone()
    print(results[0])

    fromdate = datetime.datetime.strptime(results[0],'%Y%m%d') + datetime.timedelta(days=1)
    fromdate = datetime.datetime.strftime(fromdate,'%Y%m%d')
    print(fromdate)

Database AStockMarket is connected!
20210128
20210129

In [23]:
import mysql.connector as mysql
from mysql.connector.errors import Error
import tushare as ts
import datetime


# Insert stock list into StockList Table 
#* load data from stocklist csv
today = datetime.datetime.now().strftime('%Y%m%d')
pro = ts.pro_api('a0f192a7b75e15dd2d8c16f0a300a6e2b055f55d1589cfef6eb2fa01')
sql = "INSERT INTO Daily VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)"



# connecting to MySql
conn = mysql.connect(host = 'localhost', user = 'root', passwd = '201202@', database = 'AStockMarket')
if conn.is_connected():
    print('Database AStockMarket is connected!')
    mycursor = conn.cursor(buffered=True)
    # get stock code from database
    
    #check the date when database is updated
    mycursor.execute(f'SELECT trade_date FROM Daily ORDER BY trade_date DESC LIMIT 1')
    query_result = mycursor.fetchone()
    last_updated_date = query_result[0]
    
    # Retrive today's daily data from Tusahre from last updating date
    fromdate = datetime.datetime.strptime(query_result[0],'%Y%m%d') + datetime.timedelta(days=1)
    fromdate = datetime.datetime.strftime(fromdate,'%Y%m%d')
    
    if fromdate == today:
        print(f'database up to date!')
    
    else:
        df = pro.daily(start_date = fromdate, end_date = today)
        print(f'Original daily data from {fromdate} to {today} downlaoded from Tushare!')

Database AStockMarket is connected!
database up to date!

In [31]:
import mysql.connector as mysql
from mysql.connector.errors import Error
import tushare as ts
import datetime
import pandas as pd


# Insert stock list into StockList Table 
#* load data from stocklist csv
today = datetime.datetime.now().strftime('%Y%m%d')
pro = ts.pro_api('a0f192a7b75e15dd2d8c16f0a300a6e2b055f55d1589cfef6eb2fa01')




# connecting to MySql
conn = mysql.connect(host = 'localhost', user = 'root', passwd = '201202@', database = 'AStockMarket')
if conn.is_connected():
    print('Database AStockMarket is connected!')
    mycursor = conn.cursor(buffered=True)
    # get stock code from database
    sql_daily = 'SELECT DISTINCT(ts_code) FROM Daily'
    sql_list = 'SELECT ts_code FROM StockList'
    #check the date when database is updated
    df_daily = pd.read_sql(sql_daily, conn)
    df_list = pd.read_sql(sql_list, conn)
    df_list['test1'] = 1
    df_daily['test1'] = 1

    print(df_list)
    print(df_daily)

Database AStockMarket is connected!
        ts_code  test1
0     000001.SZ      1
1     000002.SZ      1
2     000004.SZ      1
3     000005.SZ      1
4     000006.SZ      1
...         ...    ...
4155  688777.SH      1
4156  688788.SH      1
4157  688819.SH      1
4158  688981.SH      1
4159  689009.SH      1

[4160 rows x 2 columns]
        ts_code  test1
0     000001.SZ      1
1     000002.SZ      1
2     000004.SZ      1
3     000005.SZ      1
4     000006.SZ      1
...         ...    ...
4139  688777.SH      1
4140  688788.SH      1
4141  688819.SH      1
4142  688981.SH      1
4143  689009.SH      1

[4144 rows x 2 columns]

In [33]:
# Check which stocks that have no records
results = pd.merge(df_list,df_daily, how = 'left', on = 'ts_code')
print(results)
print(len(results[results.isna().any(axis=1)]))
print(results[results.isna().any(axis=1)])

        ts_code  test1_x  test1_y
0     000001.SZ        1      1.0
1     000002.SZ        1      1.0
2     000004.SZ        1      1.0
3     000005.SZ        1      1.0
4     000006.SZ        1      1.0
...         ...      ...      ...
4155  688777.SH        1      1.0
4156  688788.SH        1      1.0
4157  688819.SH        1      1.0
4158  688981.SH        1      1.0
4159  689009.SH        1      1.0

[4160 rows x 3 columns]
16
        ts_code  test1_x  test1_y
205   000637.SZ        1      NaN
215   000661.SZ        1      NaN
449   000999.SZ        1      NaN
971   002527.SZ        1      NaN
1695  300251.SZ        1      NaN
2451  600119.SH        1      NaN
2456  600125.SH        1      NaN
2595  600289.SH        1      NaN
2852  600612.SH        1      NaN
2899  600667.SH        1      NaN
2904  600675.SH        1      NaN
2908  600681.SH        1      NaN
2911  600684.SH        1      NaN
3325  601877.SH        1      NaN
3424  603083.SH        1      NaN
3591  603396.SH        1      NaN

In [39]:
# stocks that have no records in MySQL
stock_list = results[results.isna().any(axis=1)]['ts_code']

In [41]:
# download data from tushare and update to MySQL for stocks that do not have records
conn = mysql.connect(host = 'localhost', user = 'root', passwd = '201202@', database = 'AStockMarket')
if conn.is_connected():
    print('Database AStockMarket is connected!')
    mycursor = conn.cursor(buffered=True)

    # get stock code from database
    sql = "INSERT INTO Daily VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)"
    
    
    i = 0
    for stock_code in stock_list:
        try:
            pro = ts.pro_api('a0f192a7b75e15dd2d8c16f0a300a6e2b055f55d1589cfef6eb2fa01')
            df = pro.daily(ts_code=stock_code, start_date='20080101', end_date=today)
            print(f'downloaded {stock_code} data from 20080101 to {today} from Tusahre')

            value = df.values.tolist()
            mycursor.executemany(sql, value)
            print(f'{stock_code} Record inserted')

            conn.commit()
            print(f'{stock_code} uploads to MySql  successfully, total {len(df)} records are inserted \n')
            
            i = i + 1
            print(f'No.{i} stock updated')
            
        except:
            time.sleep(2)

Database AStockMarket is connected!
downloaded 000637.SZ data from 20080101 to 20210129 from Tusahre
000637.SZ Record inserted
000637.SZ uploads to MySql  successfully, total 3147 records are inserted

No.1 stock updated
downloaded 000661.SZ data from 20080101 to 20210129 from Tusahre
000661.SZ Record inserted
000661.SZ uploads to MySql  successfully, total 3126 records are inserted

No.2 stock updated
downloaded 000999.SZ data from 20080101 to 20210129 from Tusahre
000999.SZ Record inserted
000999.SZ uploads to MySql  successfully, total 3004 records are inserted

No.3 stock updated
downloaded 002527.SZ data from 20080101 to 20210129 from Tusahre
002527.SZ Record inserted
002527.SZ uploads to MySql  successfully, total 2303 records are inserted

No.4 stock updated
downloaded 300251.SZ data from 20080101 to 20210129 from Tusahre
300251.SZ Record inserted
300251.SZ uploads to MySql  successfully, total 2193 records are inserted

No.5 stock updated
downloaded 600119.SH data from 20080101 to 20210129 from Tusahre
600119.SH Record inserted
600119.SH uploads to MySql  successfully, total 3162 records are inserted

No.6 stock updated
downloaded 600125.SH data from 20080101 to 20210129 from Tusahre
600125.SH Record inserted
600125.SH uploads to MySql  successfully, total 3172 records are inserted

No.7 stock updated
downloaded 600289.SH data from 20080101 to 20210129 from Tusahre
600289.SH Record inserted
600289.SH uploads to MySql  successfully, total 3001 records are inserted

No.8 stock updated
downloaded 600612.SH data from 20080101 to 20210129 from Tusahre
600612.SH Record inserted
600612.SH uploads to MySql  successfully, total 3147 records are inserted

No.9 stock updated
downloaded 600667.SH data from 20080101 to 20210129 from Tusahre
600667.SH Record inserted
600667.SH uploads to MySql  successfully, total 3028 records are inserted

No.10 stock updated
downloaded 600675.SH data from 20080101 to 20210129 from Tusahre
600675.SH Record inserted
600675.SH uploads to MySql  successfully, total 2895 records are inserted

No.11 stock updated
downloaded 600681.SH data from 20080101 to 20210129 from Tusahre
600681.SH Record inserted
600681.SH uploads to MySql  successfully, total 2075 records are inserted

No.12 stock updated
downloaded 600684.SH data from 20080101 to 20210129 from Tusahre
600684.SH Record inserted
600684.SH uploads to MySql  successfully, total 3176 records are inserted

No.13 stock updated
downloaded 601877.SH data from 20080101 to 20210129 from Tusahre
601877.SH Record inserted
601877.SH uploads to MySql  successfully, total 2540 records are inserted

No.14 stock updated
downloaded 603083.SH data from 20080101 to 20210129 from Tusahre
603083.SH Record inserted
603083.SH uploads to MySql  successfully, total 786 records are inserted

No.15 stock updated
downloaded 603396.SH data from 20080101 to 20210129 from Tusahre
603396.SH Record inserted
603396.SH uploads to MySql  successfully, total 803 records are inserted

No.16 stock updated

In [44]:


import mysql.connector as mysql
from mysql.connector.errors import Error
import tushare as ts
import datetime
import pandas as pd


# Insert stock list into StockList Table 
#* load data from stocklist csv
today = datetime.datetime.now().strftime('%Y%m%d')
pro = ts.pro_api('a0f192a7b75e15dd2d8c16f0a300a6e2b055f55d1589cfef6eb2fa01')

# connecting to MySql
conn = mysql.connect(host = 'localhost', user = 'root', passwd = '201202@', database = 'AStockMarket')
if conn.is_connected():
    print('Database AStockMarket is connected!')
    mycursor = conn.cursor(buffered=True)
    # get stock code from database that have records at 20210129
    sql = "SELECT DISTINCT(ts_code) FROM Daily WHERE trade_date = 20210129 "
    #check the date when database is updated
    df = pd.read_sql(sql, conn)
    df['test3'] = 3

print(len(df))

# check which stocks that do not have records at 20210129
results2 = pd.merge(df_list, df, how = 'left', on = 'ts_code')
print(len(results2[results2.isna().any(axis=1)]))
print(results2[results2.isna().any(axis=1)])

Database AStockMarket is connected!
3407
753
        ts_code  test1  test3
0     000001.SZ      1    NaN
1     000002.SZ      1    NaN
2     000004.SZ      1    NaN
3     000005.SZ      1    NaN
4     000006.SZ      1    NaN
...         ...    ...    ...
2724  600461.SH      1    NaN
2869  600634.SH      1    NaN
2947  600723.SH      1    NaN
3069  600859.SH      1    NaN
3711  603693.SH      1    NaN

[753 rows x 3 columns]

In [58]:
# stocks that do not have records at 20210129
stock_list = results2[results2.isna().any(axis=1)]['ts_code']
print(stock_list)

0       000001.SZ
1       000002.SZ
2       000004.SZ
3       000005.SZ
4       000006.SZ
          ...
2724    600461.SH
2869    600634.SH
2947    600723.SH
3069    600859.SH
3711    603693.SH
Name: ts_code, Length: 753, dtype: object

In [59]:
# download data from rtushare and updated to MySQL
conn = mysql.connect(host = 'localhost', user = 'root', passwd = '201202@', database = 'AStockMarket')
if conn.is_connected():
    print('Database AStockMarket is connected!')
    mycursor = conn.cursor(buffered=True)

    # get stock code from database
    sql = "INSERT INTO Daily VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)"
    
    
    i = 0
    for stock_code in stock_list:
        try:
            pro = ts.pro_api('a0f192a7b75e15dd2d8c16f0a300a6e2b055f55d1589cfef6eb2fa01')
            df = pro.daily(ts_code=stock_code, start_date=today, end_date=today)
            print(f'downloaded {stock_code} data from 20080101 to {today} from Tusahre')

            value = df.values.tolist()
            mycursor.executemany(sql, value)
            print(f'{stock_code} Record inserted')

            conn.commit()
            print(f'{stock_code} uploads to MySql  successfully, total {len(df)} records are inserted')
            
            i = i + 1
            print(f'No.{i} stock updated \n')
            
        except:
            pass

645 stock updated

downloaded 002196.SZ data from 20080101 to 20210129 from Tusahre
002196.SZ Record inserted
002196.SZ uploads to MySql  successfully, total 1 records are inserted
No.646 stock updated

downloaded 002197.SZ data from 20080101 to 20210129 from Tusahre
002197.SZ Record inserted
002197.SZ uploads to MySql  successfully, total 1 records are inserted
No.647 stock updated

downloaded 002198.SZ data from 20080101 to 20210129 from Tusahre
002198.SZ Record inserted
002198.SZ uploads to MySql  successfully, total 1 records are inserted
No.648 stock updated

downloaded 002199.SZ data from 20080101 to 20210129 from Tusahre
002199.SZ Record inserted
002199.SZ uploads to MySql  successfully, total 1 records are inserted
No.649 stock updated

downloaded 002200.SZ data from 20080101 to 20210129 from Tusahre
002200.SZ Record inserted
002200.SZ uploads to MySql  successfully, total 1 records are inserted
No.650 stock updated

downloaded 002201.SZ data from 20080101 to 20210129 from Tusahre
002201.SZ Record inserted
002201.SZ uploads to MySql  successfully, total 1 records are inserted
No.651 stock updated

downloaded 002202.SZ data from 20080101 to 20210129 from Tusahre
002202.SZ Record inserted
002202.SZ uploads to MySql  successfully, total 1 records are inserted
No.652 stock updated

downloaded 002203.SZ data from 20080101 to 20210129 from Tusahre
002203.SZ Record inserted
002203.SZ uploads to MySql  successfully, total 1 records are inserted
No.653 stock updated

downloaded 002204.SZ data from 20080101 to 20210129 from Tusahre
002204.SZ Record inserted
002204.SZ uploads to MySql  successfully, total 1 records are inserted
No.654 stock updated

downloaded 002205.SZ data from 20080101 to 20210129 from Tusahre
002205.SZ Record inserted
002205.SZ uploads to MySql  successfully, total 1 records are inserted
No.655 stock updated

downloaded 002206.SZ data from 20080101 to 20210129 from Tusahre
002206.SZ Record inserted
002206.SZ uploads to MySql  successfully, total 1 records are inserted
No.656 stock updated

downloaded 002207.SZ data from 20080101 to 20210129 from Tusahre
002207.SZ Record inserted
002207.SZ uploads to MySql  successfully, total 1 records are inserted
No.657 stock updated

downloaded 002208.SZ data from 20080101 to 20210129 from Tusahre
002208.SZ Record inserted
002208.SZ uploads to MySql  successfully, total 1 records are inserted
No.658 stock updated

downloaded 002209.SZ data from 20080101 to 20210129 from Tusahre
002209.SZ Record inserted
002209.SZ uploads to MySql  successfully, total 1 records are inserted
No.659 stock updated

downloaded 002210.SZ data from 20080101 to 20210129 from Tusahre
002210.SZ Record inserted
002210.SZ uploads to MySql  successfully, total 1 records are inserted
No.660 stock updated

downloaded 002211.SZ data from 20080101 to 20210129 from Tusahre
002211.SZ Record inserted
002211.SZ uploads to MySql  successfully, total 1 records are inserted
No.661 stock updated

downloaded 002212.SZ data from 20080101 to 20210129 from Tusahre
002212.SZ Record inserted
002212.SZ uploads to MySql  successfully, total 1 records are inserted
No.662 stock updated

downloaded 002213.SZ data from 20080101 to 20210129 from Tusahre
002213.SZ Record inserted
002213.SZ uploads to MySql  successfully, total 1 records are inserted
No.663 stock updated

downloaded 002214.SZ data from 20080101 to 20210129 from Tusahre
002214.SZ Record inserted
002214.SZ uploads to MySql  successfully, total 1 records are inserted
No.664 stock updated

downloaded 002215.SZ data from 20080101 to 20210129 from Tusahre
002215.SZ Record inserted
002215.SZ uploads to MySql  successfully, total 1 records are inserted
No.665 stock updated

downloaded 002216.SZ data from 20080101 to 20210129 from Tusahre
002216.SZ Record inserted
002216.SZ uploads to MySql  successfully, total 1 records are inserted
No.666 stock updated

downloaded 002217.SZ data from 20080101 to 20210129 from Tusahre
002217.SZ Record inserted
002217.SZ uploads to MySql  successfully, total 1 records are inserted
No.667 stock updated

downloaded 002218.SZ data from 20080101 to 20210129 from Tusahre
002218.SZ Record inserted
002218.SZ uploads to MySql  successfully, total 1 records are inserted
No.668 stock updated

downloaded 002219.SZ data from 20080101 to 20210129 from Tusahre
002219.SZ Record inserted
002219.SZ uploads to MySql  successfully, total 1 records are inserted
No.669 stock updated

downloaded 002221.SZ data from 20080101 to 20210129 from Tusahre
002221.SZ Record inserted
002221.SZ uploads to MySql  successfully, total 1 records are inserted
No.670 stock updated

downloaded 002222.SZ data from 20080101 to 20210129 from Tusahre
002222.SZ Record inserted
002222.SZ uploads to MySql  successfully, total 1 records are inserted
No.671 stock updated

downloaded 002223.SZ data from 20080101 to 20210129 from Tusahre
002223.SZ Record inserted
002223.SZ uploads to MySql  successfully, total 1 records are inserted
No.672 stock updated

downloaded 002224.SZ data from 20080101 to 20210129 from Tusahre
002224.SZ Record inserted
002224.SZ uploads to MySql  successfully, total 1 records are inserted
No.673 stock updated

downloaded 002225.SZ data from 20080101 to 20210129 from Tusahre
002225.SZ Record inserted
002225.SZ uploads to MySql  successfully, total 1 records are inserted
No.674 stock updated

downloaded 002226.SZ data from 20080101 to 20210129 from Tusahre
002226.SZ Record inserted
002226.SZ uploads to MySql  successfully, total 1 records are inserted
No.675 stock updated

downloaded 002227.SZ data from 20080101 to 20210129 from Tusahre
002227.SZ Record inserted
002227.SZ uploads to MySql  successfully, total 1 records are inserted
No.676 stock updated

downloaded 002228.SZ data from 20080101 to 20210129 from Tusahre
002228.SZ Record inserted
002228.SZ uploads to MySql  successfully, total 1 records are inserted
No.677 stock updated

downloaded 002229.SZ data from 20080101 to 20210129 from Tusahre
002229.SZ Record inserted
002229.SZ uploads to MySql  successfully, total 1 records are inserted
No.678 stock updated

downloaded 002230.SZ data from 20080101 to 20210129 from Tusahre
002230.SZ Record inserted
002230.SZ uploads to MySql  successfully, total 1 records are inserted
No.679 stock updated

downloaded 002231.SZ data from 20080101 to 20210129 from Tusahre
002231.SZ Record inserted
002231.SZ uploads to MySql  successfully, total 1 records are inserted
No.680 stock updated

downloaded 002232.SZ data from 20080101 to 20210129 from Tusahre
002232.SZ Record inserted
002232.SZ uploads to MySql  successfully, total 1 records are inserted
No.681 stock updated

downloaded 002233.SZ data from 20080101 to 20210129 from Tusahre
002233.SZ Record inserted
002233.SZ uploads to MySql  successfully, total 1 records are inserted
No.682 stock updated

downloaded 002234.SZ data from 20080101 to 20210129 from Tusahre
002234.SZ Record inserted
002234.SZ uploads to MySql  successfully, total 1 records are inserted
No.683 stock updated

downloaded 002235.SZ data from 20080101 to 20210129 from Tusahre
002235.SZ Record inserted
002235.SZ uploads to MySql  successfully, total 1 records are inserted
No.684 stock updated

downloaded 002236.SZ data from 20080101 to 20210129 from Tusahre
002236.SZ Record inserted
002236.SZ uploads to MySql  successfully, total 1 records are inserted
No.685 stock updated

downloaded 002237.SZ data from 20080101 to 20210129 from Tusahre
002237.SZ Record inserted
002237.SZ uploads to MySql  successfully, total 1 records are inserted
No.686 stock updated

downloaded 002238.SZ data from 20080101 to 20210129 from Tusahre
002238.SZ Record inserted
002238.SZ uploads to MySql  successfully, total 1 records are inserted
No.687 stock updated

downloaded 002239.SZ data from 20080101 to 20210129 from Tusahre
002239.SZ Record inserted
002239.SZ uploads to MySql  successfully, total 1 records are inserted
No.688 stock updated

downloaded 002240.SZ data from 20080101 to 20210129 from Tusahre
002240.SZ Record inserted
002240.SZ uploads to MySql  successfully, total 1 records are inserted
No.689 stock updated

downloaded 002241.SZ data from 20080101 to 20210129 from Tusahre
002241.SZ Record inserted
002241.SZ uploads to MySql  successfully, total 1 records are inserted
No.690 stock updated

downloaded 002242.SZ data from 20080101 to 20210129 from Tusahre
002242.SZ Record inserted
002242.SZ uploads to MySql  successfully, total 1 records are inserted
No.691 stock updated

downloaded 002243.SZ data from 20080101 to 20210129 from Tusahre
002243.SZ Record inserted
002243.SZ uploads to MySql  successfully, total 1 records are inserted
No.692 stock updated

downloaded 002244.SZ data from 20080101 to 20210129 from Tusahre
002244.SZ Record inserted
002244.SZ uploads to MySql  successfully, total 1 records are inserted
No.693 stock updated

downloaded 002245.SZ data from 20080101 to 20210129 from Tusahre
002245.SZ Record inserted
002245.SZ uploads to MySql  successfully, total 1 records are inserted
No.694 stock updated

downloaded 002246.SZ data from 20080101 to 20210129 from Tusahre
002246.SZ Record inserted
002246.SZ uploads to MySql  successfully, total 1 records are inserted
No.695 stock updated

downloaded 002247.SZ data from 20080101 to 20210129 from Tusahre
002247.SZ Record inserted
002247.SZ uploads to MySql  successfully, total 1 records are inserted
No.696 stock updated

downloaded 002248.SZ data from 20080101 to 20210129 from Tusahre
002248.SZ Record inserted
002248.SZ uploads to MySql  successfully, total 1 records are inserted
No.697 stock updated

downloaded 002249.SZ data from 20080101 to 20210129 from Tusahre
002249.SZ Record inserted
002249.SZ uploads to MySql  successfully, total 1 records are inserted
No.698 stock updated

downloaded 002250.SZ data from 20080101 to 20210129 from Tusahre
002250.SZ Record inserted
002250.SZ uploads to MySql  successfully, total 1 records are inserted
No.699 stock updated

downloaded 002251.SZ data from 20080101 to 20210129 from Tusahre
002251.SZ Record inserted
002251.SZ uploads to MySql  successfully, total 1 records are inserted
No.700 stock updated

downloaded 002252.SZ data from 20080101 to 20210129 from Tusahre
002252.SZ Record inserted
002252.SZ uploads to MySql  successfully, total 1 records are inserted
No.701 stock updated

downloaded 002253.SZ data from 20080101 to 20210129 from Tusahre
002253.SZ Record inserted
002253.SZ uploads to MySql  successfully, total 1 records are inserted
No.702 stock updated

downloaded 002254.SZ data from 20080101 to 20210129 from Tusahre
002254.SZ Record inserted
002254.SZ uploads to MySql  successfully, total 1 records are inserted
No.703 stock updated

downloaded 002255.SZ data from 20080101 to 20210129 from Tusahre
002255.SZ Record inserted
002255.SZ uploads to MySql  successfully, total 1 records are inserted
No.704 stock updated

downloaded 002256.SZ data from 20080101 to 20210129 from Tusahre
002256.SZ Record inserted
002256.SZ uploads to MySql  successfully, total 1 records are inserted
No.705 stock updated

downloaded 002258.SZ data from 20080101 to 20210129 from Tusahre
002258.SZ Record inserted
002258.SZ uploads to MySql  successfully, total 1 records are inserted
No.706 stock updated

downloaded 002259.SZ data from 20080101 to 20210129 from Tusahre
002259.SZ Record inserted
002259.SZ uploads to MySql  successfully, total 1 records are inserted
No.707 stock updated

downloaded 002261.SZ data from 20080101 to 20210129 from Tusahre
002261.SZ Record inserted
002261.SZ uploads to MySql  successfully, total 1 records are inserted
No.708 stock updated

downloaded 002262.SZ data from 20080101 to 20210129 from Tusahre
002262.SZ Record inserted
002262.SZ uploads to MySql  successfully, total 1 records are inserted
No.709 stock updated

downloaded 002263.SZ data from 20080101 to 20210129 from Tusahre
002263.SZ Record inserted
002263.SZ uploads to MySql  successfully, total 1 records are inserted
No.710 stock updated

downloaded 002264.SZ data from 20080101 to 20210129 from Tusahre
002264.SZ Record inserted
002264.SZ uploads to MySql  successfully, total 1 records are inserted
No.711 stock updated

downloaded 002265.SZ data from 20080101 to 20210129 from Tusahre
002265.SZ Record inserted
002265.SZ uploads to MySql  successfully, total 1 records are inserted
No.712 stock updated

downloaded 002266.SZ data from 20080101 to 20210129 from Tusahre
002266.SZ Record inserted
002266.SZ uploads to MySql  successfully, total 1 records are inserted
No.713 stock updated

downloaded 002267.SZ data from 20080101 to 20210129 from Tusahre
002267.SZ Record inserted
002267.SZ uploads to MySql  successfully, total 1 records are inserted
No.714 stock updated

downloaded 002268.SZ data from 20080101 to 20210129 from Tusahre
002268.SZ Record inserted
002268.SZ uploads to MySql  successfully, total 1 records are inserted
No.715 stock updated

downloaded 002269.SZ data from 20080101 to 20210129 from Tusahre
002269.SZ Record inserted
002269.SZ uploads to MySql  successfully, total 1 records are inserted
No.716 stock updated

downloaded 002270.SZ data from 20080101 to 20210129 from Tusahre
002270.SZ Record inserted
002270.SZ uploads to MySql  successfully, total 1 records are inserted
No.717 stock updated

downloaded 002271.SZ data from 20080101 to 20210129 from Tusahre
002271.SZ Record inserted
002271.SZ uploads to MySql  successfully, total 1 records are inserted
No.718 stock updated

downloaded 002272.SZ data from 20080101 to 20210129 from Tusahre
002272.SZ Record inserted
002272.SZ uploads to MySql  successfully, total 1 records are inserted
No.719 stock updated

downloaded 002273.SZ data from 20080101 to 20210129 from Tusahre
002273.SZ Record inserted
002273.SZ uploads to MySql  successfully, total 1 records are inserted
No.720 stock updated

downloaded 002274.SZ data from 20080101 to 20210129 from Tusahre
002274.SZ Record inserted
002274.SZ uploads to MySql  successfully, total 1 records are inserted
No.721 stock updated

downloaded 002275.SZ data from 20080101 to 20210129 from Tusahre
002275.SZ Record inserted
002275.SZ uploads to MySql  successfully, total 1 records are inserted
No.722 stock updated

downloaded 002276.SZ data from 20080101 to 20210129 from Tusahre
002276.SZ Record inserted
002276.SZ uploads to MySql  successfully, total 1 records are inserted
No.723 stock updated

downloaded 002277.SZ data from 20080101 to 20210129 from Tusahre
002277.SZ Record inserted
002277.SZ uploads to MySql  successfully, total 1 records are inserted
No.724 stock updated

downloaded 002278.SZ data from 20080101 to 20210129 from Tusahre
002278.SZ Record inserted
002278.SZ uploads to MySql  successfully, total 1 records are inserted
No.725 stock updated

downloaded 002279.SZ data from 20080101 to 20210129 from Tusahre
002279.SZ Record inserted
002279.SZ uploads to MySql  successfully, total 1 records are inserted
No.726 stock updated

downloaded 002280.SZ data from 20080101 to 20210129 from Tusahre
002280.SZ Record inserted
002280.SZ uploads to MySql  successfully, total 1 records are inserted
No.727 stock updated

downloaded 002281.SZ data from 20080101 to 20210129 from Tusahre
002281.SZ Record inserted
002281.SZ uploads to MySql  successfully, total 1 records are inserted
No.728 stock updated

downloaded 002282.SZ data from 20080101 to 20210129 from Tusahre
002282.SZ Record inserted
002282.SZ uploads to MySql  successfully, total 1 records are inserted
No.729 stock updated

downloaded 002283.SZ data from 20080101 to 20210129 from Tusahre
002283.SZ Record inserted
002283.SZ uploads to MySql  successfully, total 1 records are inserted
No.730 stock updated

downloaded 002284.SZ data from 20080101 to 20210129 from Tusahre
002284.SZ Record inserted
002284.SZ uploads to MySql  successfully, total 1 records are inserted
No.731 stock updated

downloaded 002285.SZ data from 20080101 to 20210129 from Tusahre
002285.SZ Record inserted
002285.SZ uploads to MySql  successfully, total 1 records are inserted
No.732 stock updated

downloaded 002286.SZ data from 20080101 to 20210129 from Tusahre
002286.SZ Record inserted
002286.SZ uploads to MySql  successfully, total 1 records are inserted
No.733 stock updated

downloaded 002287.SZ data from 20080101 to 20210129 from Tusahre
002287.SZ Record inserted
002287.SZ uploads to MySql  successfully, total 1 records are inserted
No.734 stock updated

downloaded 002288.SZ data from 20080101 to 20210129 from Tusahre
002288.SZ Record inserted
002288.SZ uploads to MySql  successfully, total 1 records are inserted
No.735 stock updated

downloaded 002289.SZ data from 20080101 to 20210129 from Tusahre
002289.SZ Record inserted
002289.SZ uploads to MySql  successfully, total 0 records are inserted
No.736 stock updated

downloaded 002290.SZ data from 20080101 to 20210129 from Tusahre
002290.SZ Record inserted
002290.SZ uploads to MySql  successfully, total 1 records are inserted
No.737 stock updated

downloaded 002291.SZ data from 20080101 to 20210129 from Tusahre
002291.SZ Record inserted
002291.SZ uploads to MySql  successfully, total 1 records are inserted
No.738 stock updated

downloaded 002292.SZ data from 20080101 to 20210129 from Tusahre
002292.SZ Record inserted
002292.SZ uploads to MySql  successfully, total 1 records are inserted
No.739 stock updated

downloaded 002293.SZ data from 20080101 to 20210129 from Tusahre
002293.SZ Record inserted
002293.SZ uploads to MySql  successfully, total 1 records are inserted
No.740 stock updated

downloaded 002294.SZ data from 20080101 to 20210129 from Tusahre
002294.SZ Record inserted
002294.SZ uploads to MySql  successfully, total 1 records are inserted
No.741 stock updated

downloaded 002295.SZ data from 20080101 to 20210129 from Tusahre
002295.SZ Record inserted
002295.SZ uploads to MySql  successfully, total 1 records are inserted
No.742 stock updated

downloaded 002296.SZ data from 20080101 to 20210129 from Tusahre
002296.SZ Record inserted
002296.SZ uploads to MySql  successfully, total 1 records are inserted
No.743 stock updated

downloaded 002297.SZ data from 20080101 to 20210129 from Tusahre
002297.SZ Record inserted
002297.SZ uploads to MySql  successfully, total 1 records are inserted
No.744 stock updated

downloaded 002298.SZ data from 20080101 to 20210129 from Tusahre
002298.SZ Record inserted
002298.SZ uploads to MySql  successfully, total 1 records are inserted
No.745 stock updated

downloaded 002299.SZ data from 20080101 to 20210129 from Tusahre
002299.SZ Record inserted
002299.SZ uploads to MySql  successfully, total 1 records are inserted
No.746 stock updated

downloaded 600317.SH data from 20080101 to 20210129 from Tusahre
600317.SH Record inserted
600317.SH uploads to MySql  successfully, total 0 records are inserted
No.747 stock updated

downloaded 600340.SH data from 20080101 to 20210129 from Tusahre
600340.SH Record inserted
600340.SH uploads to MySql  successfully, total 0 records are inserted
No.748 stock updated

downloaded 600461.SH data from 20080101 to 20210129 from Tusahre
600461.SH Record inserted
600461.SH uploads to MySql  successfully, total 0 records are inserted
No.749 stock updated

downloaded 600634.SH data from 20080101 to 20210129 from Tusahre
600634.SH Record inserted
600634.SH uploads to MySql  successfully, total 0 records are inserted
No.750 stock updated

downloaded 600723.SH data from 20080101 to 20210129 from Tusahre
600723.SH Record inserted
600723.SH uploads to MySql  successfully, total 0 records are inserted
No.751 stock updated

downloaded 600859.SH data from 20080101 to 20210129 from Tusahre
600859.SH Record inserted
600859.SH uploads to MySql  successfully, total 0 records are inserted
No.752 stock updated

downloaded 603693.SH data from 20080101 to 20210129 from Tusahre
603693.SH Record inserted
603693.SH uploads to MySql  successfully, total 0 records are inserted
No.753 stock updated